################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sql2csv/v15
/bin/Debug
/obj/Debug
/publish
